block cards
.col.s12.m6
  .note.card
    .card-content
      span.card-title Título de nota
      span.grey-text Autor
      p
        | I am a very simple card. I am good at containing small bits of information.
        | I am convenient because I require little markup to use effectively.
    .card-action
      a(href='/edit') Editar
