@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham Book regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham Medium regular.otf") format("otf");
  font-weight: bold;
  font-style: normal; }

html {
  font-family: Gotham;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }
